<div id="breadcrumbs" class="pt-6 pb-10">
    <div class="flex gap-12 text-silence text-sm min-h-[34px]">
        <a class="flex items-center gap-2"
            href="/dashboard/<%= (folderContent && folderContent.parentFolder && folderContent.parentFolder.parentId !== null) ? folderContent.parentFolder.publicId : "" %>">
            <img src="/assets/img/leftshevron-icon.svg" width="18" height="auto" alt="">
            <span>Back</span>
        </a>
        <ul class="flex items-center">
            <%# Root link %>
                <li>
                    <a class="flex items-center gap-2 hover:underline hover:decoration-blue-400 underline-offset-4"
                        href="/dashboard/">
                        <img src="/assets/img/root-box.svg" width="18" height="auto" alt="">
                        <span>Root</span>
                    </a>
                </li>
                <%# Ancestors Links %>
                    <% if(folderContent && folderContent.breadcrumbs && folderContent.breadcrumbs.length> 0) { %>
                        <% folderContent.breadcrumbs.forEach(folder=> { %>
                            <li class="before:content-['/'] before:mx-2">
                                <a class="hover:underline hover:decoration-blue-400 underline-offset-4"
                                    href="/dashboard/<%= folder.publicId %>">
                                    <%= folder.name %>
                                </a>
                            </li>
                            <% }) %>
                                <% }%>
                                    <%# Current Folder %>
                                        <% if (folderContent && folderContent.currentFolder) { %>
                                            <li class="text-black before:content-['/'] before:mx-2 before:text-silence max-w-[200px] truncate"
                                                title="<%= folderContent.currentFolder.name %>">
                                                <%= folderContent.currentFolder.name %>
                                            </li>
                                            <% } %>
        </ul>
    </div>
</div>